<!DOCTYPE html>
<html>
  <head>
    <title>Curses</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>

    <section>
      <nav id="nav">
        <ul>
          <li class="current"><a href="{% url 'index'%}">Inicio</a></li>
          <li><a href="">Curso de la semana</a></li>
          <li><a href="<%= root_path %>">Todos los cursos</a></li>
          <li><a href="<%= new_model_registration_path%>" class="button alt">Registrate</a></li>
          <li><a href="<%= new_model_session_path%>" class="button alt">Inicia sesion</a></li>
        </ul>
      </nav>
    </section>
    
    <div class="container">
      <%= render partial: 'partials/flash'%>
      <%= yield %>
    </div>
    <!-- Footer -->
    <section id="footer">
      <div class="container">
        <div class="row">
          <div class="col-8 col-12-medium">
            <section>
              <header>
                <h2>Calendario</h2>
              </header>
              <ul class="dates">
                <li>
                  <span class="date">Jan <strong>27</strong></span>
                  <h3><a href="#">Charla invitacion sobre nuestras jornadas roboticas</a></h3>
                  <p>Ipsum dolor sit amet veroeros consequat blandit ipsum phasellus lorem consequat etiam.</p>
                </li>
                <li>
                  <span class="date">Jan <strong>23</strong></span>
                  <h3><a href="#">Lanzamiento jornadas roboticas</a></h3>
                  <p>Blandit phasellus lorem ipsum dolor tempor sapien tortor hendrerit adipiscing feugiat lorem.</p>
                </li>
                <li>
                  <span class="date">Jan <strong>15</strong></span>
                  <h3><a href="#">Lanzamiento curso ciberseguridad social</a></h3>
                  <p>Dolore consequat sed phasellus lorem sed etiam nullam dolor etiam sed amet sit consequat.</p>
                </li>
                <li>
                  <span class="date">Jan <strong>12</strong></span>
                  <h3><a href="#">Charla online con un trabajador de Google</a></h3>
                  <p>Feugiat lorem dolor sed nullam tempus lorem ipsum dolor sit amet nullam consequat.</p>
                </li>
                <li>
                  <span class="date">Jan <strong>10</strong></span>
                  <h3><a href="#">Conferencia sobre innovacion asiatica</a></h3>
                  <p>Feugiat sed tempus blandit tempus adipiscing nisl lorem ipsum dolor sit amet dolore.</p>
                </li>
              </ul>
            </section>
          </div>
          <div class="col-4 col-12-medium">
            <section>

              <header>
                <h2>Vitae tempor lorem</h2>
              </header>
              <ul class="social">
                <li><a class="icon brands fa-facebook-f" href="#"><span class="label">Facebook</span></a></li>
                <li><a class="icon brands fa-twitter" href="#"><span class="label">Twitter</span></a></li>
                <li><a class="icon brands fa-dribbble" href="#"><span class="label">Dribbble</span></a></li>
                <li><a class="icon brands fa-tumblr" href="#"><span class="label">Tumblr</span></a></li>
                <li><a class="icon brands fa-linkedin-in" href="#"><span class="label">LinkedIn</span></a></li>
              </ul>
              <ul class="contact">
                <li>
                  <h3>Address</h3>
                  <p>
                    Untitled Incorporated<br />
                    1234 Somewhere Road Suite<br />
                    Nashville, TN 00000-0000
                  </p>
                </li>
                <li>
                  <h3>Mail</h3>
                  <p><a href="#">someone@untitled.tld</a></p>
                </li>
                <li>
                  <h3>Phone</h3>
                  <p>(800) 000-0000</p>
                </li>
              </ul>
            </section>
          </div>
          <div class="col-12">

            <!-- Copyright -->
              <div id="copyright">
                <ul class="links">
                  <li>&copy; Untitled. All rights reserved.</li><li>Design: <a href="http://html5up.net">HTML5 UP</a></li>
                </ul>
              </div>

          </div>
        </div>
      </div>
    </section>
  </body>
</html>
